body {
    padding-top: 64px;

    @include MQ(small) {
        padding-top: 67px;
    }
}

#header {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.header {
    padding: $space $space;
    position: relative;
}

.logo {
    aspect-ratio: 1 / 1;
    height: 32px;
}

.nav-main {
    flex-grow: 1;
    text-align: right;
}

.nav-link {
    color: $font-color;
    text-decoration: unset;
    transition: color 0.2s;

    &:hover { color: $font-color-medium; }
}

.mobile-nav {
    display: none;
    height: calc(100vh - 64px);
    width: 320px;
    position: absolute;
    top: 64px;
    left: 100%;
    transform: translateX(0);
    transition: display .5s, transform .5s;
    transition-behavior: allow-discrete;

    &.open {
        display: block;
        transform: translateX(-100%);

        @starting-style {
            transform: translateX(0);
        }
    }
}

.mobile-nav-filler {
    display: none;
    background-color: $black;
    height: calc(100vh - 64px);
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: display .5s, opacity .5s, visibility .5s;
    transition-behavior: allow-discrete;

    &.open {
        display: block;
        opacity: .75;
        visibility: visible;

        @starting-style {
            opacity: 0;
        }
    }
}

.mobile-nav-wrap {
    height: 100%;
}

.nav-mobile-link {
    text-decoration: unset;
    padding: $space;
    transition: background-color .2s, color .2s;

    &:hover {
        background-color: $color-gold-base;
        color: $dark-grey;
    }
}

.nav-mobile-link--logout { background-color: $color-hp-base; color: $white; cursor: pointer;
    &:hover { background-color: darken($color-hp-base, 20%); color: $white; }
}

.menu-button {
    background-color: transparent;
    color: $white;
    font-size: 28px;
    line-height: 1;
    width: 28px;
    height: 28px;
    padding: 0;
    transition: color .2s;

    &:hover { color: $color-gold-base; }
}
