input {
    &[type="text"],
    &[type="number"] {
        background-color: $dark-grey;
        border: $border-default;
        margin-bottom: $space;
        padding: $space*.75 $space;

        &.rounded { border-radius: $border-radius*0.5;}
    }
}