* {
    @include box-sizing(border-box);
}
body {
    background-color: $color-body;
    position: relative;
    overflow-x: hidden;

    &.modal-open {
        overflow-y: hidden;
    }
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

// nav {
//     display: none;
// }

#toast-container { position: fixed; bottom: $space; right: $space; overflow: hidden; z-index: 9; transition: opacity 1s, transform 1s; }

.bg-dark { background-color: $dark-grey; }
.bg-01dp { background-color: $color-bg-01dp; }
.bg-02dp { background-color: $color-bg-02dp; }
.bg-03dp { background-color: $color-bg-03dp; }
.bg-04dp { background-color: $color-bg-04dp; }
.bg-06dp { background-color: $color-bg-06dp; }
.bg-08dp { background-color: $color-bg-08dp; }
.bg-12dp { background-color: $color-bg-12dp; }
.bg-16dp { background-color: $color-bg-16dp; }
.bg-24dp { background-color: $color-bg-24dp; }

.bg-red-transparent { background-color: $color-hp-transparent;}
.bg-blue-transparent { background-color: $color-int-transparent;}
.bg-gold-transparent { background-color: $color-gold-transparent;}
.bg-green-transparent { background-color: $color-success-transparent;}

.border { border: $border-default; }
.border-none { border: none; }
.border-success { border-color: $color-success-base; }
.border-gold { border-color: $color-gold-base; }
.border-blue { border-color: $color-int-base; }

.rounded { border-radius: $border-radius; overflow: hidden; }
.rounded-small { border-radius: $border-radius*.5; overflow: hidden; }

.w-full {
    display: block;
    width: 100%;
}

.space-top-bottom {
    margin: $space auto;
}

.flex { display: flex; }

.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.flex-grow { flex-grow: 1; }
.flex-stretch { align-items: stretch; }

.no-wrap { flex-wrap: nowrap; }

.marg-bottom-no { margin-bottom: 0 !important; }

.hidden {
    visibility: hidden;
    opacity: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.box {
    padding: $space;
}

.marg-bottom-l {
    margin: {
        bottom: $space-m !important;
    };

    @include MQ(xxsmall) {
        margin: {
            bottom: $space-l !important;
        };
    }
}

hr { border-color: $color-bg-02dp; border-style: solid; margin: $space 0; }

.tag {
    background-color: $font-color;
    border-radius: $border-radius*.5;
    color: $dark-grey;
    font-size: 12px;
    padding: $space*.5 $space*.75;

    &.hollow {
        background-color: transparent;
        border: $border-default;
        border-color: $font-color;
        color: $font-color;
        padding: ($space*.5)-1 ($space*.75)-1;
    }
}

.btn, button { @include btn(); }
.btn-red { @include btn($white, $color-hp-base); }
.btn-blue { @include btn($white, $color-int-base); }
.btn-green { @include btn($dark-grey, $color-success-base); }
.btn-gold { @include btn($dark-grey, $color-gold-base); }
.btn-transparent { @include btn($font-color, transparent); }

.small { @include btnSmall(); }
.btn-iconOnly { @include btnIconOnly(); }
.btn-modal { @include btnIconOnly(); font-size: 24px; padding: 6px; }

.btn-delete { @include btnIconOnly(); @extend .icon-trash; }
.btn-remove { @include btnIconOnly(); @extend .icon-remove; }
.btn-add { @include btnIconOnly(); @extend .icon-add; }

.opacity-0 { opacity: 0; }
.translate-x-10 { transform: translateX(+10%); }

.breadcrumb {
    margin-bottom: 0;
    * { margin-bottom: 0; }
    
    a:hover { color: $font-color-disabled; }
}


.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    opacity: 0;
    transition: display .25s, opacity .25s;
    transition-behavior: allow-discrete;

    // @include MQ(small) { width: 50%; }

    &.open {
        display: block;
        opacity: 1;

        @starting-style {
            opacity: 0;
        }
    }
}

.modal__filler {
    background-color: $black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .75;
}

.modal__wrap {
    width: 100%;
    height: calc(100vh - 64px);
    padding: $space;
    position: fixed;
    top: calc(50% + 32px);
    left: 50%;
    transform: translate(-50%, -50%);

    @include MQ(xxsmall) { width: 75%; height: auto; }
    @include MQ(small) { width: 720px; }
}

.modal__inner {
    @extend .bg-dark;
    @extend .border;
    @extend .rounded;

    width: 100%;
    height: 100%;

    > .box {
        height: 100%;
    }
}

figure, .figure {
    margin: 0;

    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    &.square img { aspect-ratio: 1 / 1; }
    &.widescreen img { aspect-ratio: 16 / 9; }
    &.classic img { aspect-ratio: 4 / 3; }
}
