* {
    color: $font-color;
    font-family: $font-family;
    font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-special;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: $space;

    span { font-size: inherit; }
    a { 
        color: inherit; 
        font-size: inherit;
        text-decoration: unset;
    }
}

h1 { @include headlineFontSize($headline-h1); text-transform: uppercase; }
h2 { @include headlineFontSize($headline-h2); text-transform: uppercase; }
h3 { @include headlineFontSize($headline-h3); text-transform: uppercase; }
h4 { @include headlineFontSize($headline-h4); }

p {
    margin-top: 0;
    margin-bottom: $space;
}

a { text-decoration: unset; transition: color .2s; }

.t-small {
    font-size: 12px;
}

.large { font-size: 32px; }
.special {
    font-family: $font-family-special;
}

.t-center {
    text-align: center;
}
.t-right {
    text-align: right;
}

.text-medium {
    color: $font-color-medium;
}

.text-hp {
    color: $color-hp-base;
}

.text-int {
    color: $color-int-base;
}

.text-gold {
    color: $color-gold-base;
}