* {
    color: $font-color;
    font-family: $font-family;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-special;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: $space;

    span { font-size: inherit; }
    a { 
        color: inherit; 
        font-size: inherit;
        text-decoration: unset;
    }
}

h1 { font-size: 32px; text-transform: uppercase; @include MQ(small) { font-size: 48px; } }
h2 { font-size: 24px; text-transform: uppercase; @include MQ(small) { font-size: 32px; } }
h3 { font-size: 18px; text-transform: uppercase; @include MQ(small) { font-size: 24px; } }
h4 { font-size: 16px; @include MQ(small) { font-size: 18px; } }

p {
    margin-top: 0;
    margin-bottom: $space;
}

a { text-decoration: unset; transition: color .2s; }

.t-small {
    font-size: 12px;
}

.special {
    font-family: $font-family-special;
}

.t-center {
    text-align: center;
}
.t-right {
    text-align: right;
}

.text-medium {
    color: $font-color-medium;
}

.text-hp {
    color: $color-hp-base;
}

.text-int {
    color: $color-int-base;
}

.text-gold {
    color: $color-gold-base;
}